main {
    max-width: 840px;
}

aside{
    width: 50rem;
    margin: 1em;
    border: apx solix rgb(0 0 0 / 0.2);
    padding: 5%;
    background-color: rgb(227, 212, 189);
    color: #484343;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;

}
main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(107, 140, 167);
    padding: 2px;
    box-shadow: 0 0 30px rgb(172, 204, 202);
}
p {
    padding: 0;
}
h1 {
    color: rgb(62, 58, 51);
    font-size: 30px;
    text-align: left;
}
p{
    color: #645d5d;
}
h2 {
    color: rgb(27, 31, 29);
    text-align: center;
    font-size: 100px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #333;
    text-align: center;
}